<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">
    <!--配置DispatcherServlet-->
    <servlet>
        <servlet-name>spring-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--配置springMVC需要加载的配置文件-->
        <!--spring-dao.xml,spring-service.xml,spring-web.xml-->
        <!--Mybatis->spring->springMVC-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--配置验证码-->
    <servlet>
        <servlet-name>verification</servlet-name>
        <servlet-class>com.qg.blog.util.Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verification</servlet-name>
        <url-pattern>/verification</url-pattern>
    </servlet-mapping>

    <!-- 设置错误页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/resources/errorpage/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/resources/errorpage/500.jsp</location>
    </error-page>




</web-app>